* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.3rem;
}

.calculator {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.button {
  padding: 40px 60px;
  border: 2px solid #d5d5d5;
  background-color: #e0e0e0;
}

.input {
  grid-column-start: 1;
  grid-column-end: 5;
  color: #fff;
  background-color: #858693;
  text-align: end;
  padding: 60px 10px;
  font-size: 2.2rem;
}

.operator {
  background-color: #f39148;

}

.bigZero {
  grid-column-start: 1;
  grid-column-end: 3;
}

.end {
  border-bottom: 4px solid #d5d5d5;
}