* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.3rem;
}

.home {
  width: 95%;
  margin: auto;
}

.home h2 {
  margin-top: 10%;
}

.home p {
  font-size: 1rem;
  text-align: left;
  margin-top: 20px;
}

.claculation {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  margin-top: 30px;
}

.quote {
  width: 70%;
  margin: auto;
  margin-top: 15%;
}

.quote p {
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
  font-family: monospace, 'fantasy', Times, serif;
}
